









/* FOOTER */
 footer{
    height:90px;
    background-color: #94AF9F;
    color:#DBE4C6;
  }

  .container-footer p{
    float:left;
    font-size: 24px;
    padding:5px 100px;
    padding-right:220px;
  }

  .footer-list{
    float:left;
  }

  .footer-list li{
    float:right;
    padding:15px;
    text-align: center;
  }

  .footer-list a{
    text-decoration: none;
    color:#DBE4C6;
  }
