/* Tablet */
@media (max-width:1270px)
{
    header{
        width:100%;
    }
    .header-list, .subscribe{
        display: none;
    }
    .hero{
        margin-bottom:150px;
    }
    .hero h1{
        padding-top: 20px;
        font-size: 40px;     
    }

    .search{
        padding-top:50px;
    }
    

    .poster{
        width:50%;
    }
    
/*Smartphone*/
}
@media (max-width:670px)
{
    .poster{
        width:100%;
    }
    .hero h1{
        padding-top: 20px;
        font-size: 20px;     
    }
    .hero p{
        font-size:15px;
    }
    .hero{
        margin-bottom:200px;
    }
    .search{
        width:80%;
        padding-top:50px;
    }
    .search a{
        font-size:12px;
        padding:0 10px
    }
    form h2{
        font-size:24px;
    }
    
    .container-footer a{
        font-size:12px;
        padding-right:10px;
    }
}
